$font-heading: 'Red Rose', serif;
$font-body: 'Almarai', sans-serif;

$color-page-bg: #282c2b;
$color-text-primary: #ffffff;
$color-accent: #f0ea6e;
$color-button-text: #303131;

$color-settings-bg: #e0e0e0;
$color-settings-panel: #f6f6f6;
$color-primary-dark: #000000;
$color-ui-dark: #303131;
$color-accent-yellow: #f0ea6e;